{% extends 'base.html.twig' %}
{% block body %}
    <nav>
        <form method="get" action="#">
            <input type="text" name="path" value="{{ path }}"/>
            <button>goto</button>
            <a onclick="browseAndUpload()"> <i class="fad fa-upload"></i></a>
        </form>
        <form method="post" action="{{ path('media_store',{path:path}) }}"
              enctype="multipart/form-data">
            <input id="fileUploader" type="file" name="media"/>
        </form>
    </nav>
    <table>
        <tr>
            <th colspan="2">
                Name
            </th>
            <th>
                Size
            </th>

            <th>
                Action
            </th>
        </tr>
        <tr>
            <td>
                <i class="fad fa-folder"></i>
            </td>
            <td colspan="3"><a href="{{ path("media_index",{path:parent}) }}">../</a></td>
        </tr>
        {% for directory in directories %}
            <tr>
                <td>
                    <i class="fad fa-folder"></i>
                </td>
                <td>
                    <a href="{{ path("media_index",{path:path ~"/" ~ directory.filename}) }}">
                        {{ directory.filename }}/
                    </a>
                </td>
                <td></td>
                <td class="action-col">

                    <a onclick="deleteMedia('{{ path("documents_delete",{path: path ~"/"~directory.filename, json: true}) }}')">
                        <i class="fad fa-trash"></i>
                    </a>

                </td>
            </tr>
        {% endfor %}
        {% for file in files %}
            <tr>
                <td>
                    {% if file.extension in ["png","jpg","jpeg"] %}
                        <i class="fad fa-image"></i>

                    {% else %}
                        <i class="fad fa-file"></i>
                    {% endif %}
                </td>
                <td>
                    {{ file.filename }}
                </td>
                <td>{{ file.size }}</td>

                <td class="action-col">
                    <a target="_blank"
                       href="{{ url("knowledge_read",{path: (path ~"/"~file.filename)| trim("/","left")}) }}">
                        <i class="fad fa-eye"></i>
                    </a>
                    <a onclick="deleteMedia('{{ path("documents_delete",{path: path ~"/"~file.filename, json: true}) }}')">
                        <i class="fad fa-trash"></i>
                    </a>

                </td>
            </tr>
        {% endfor %}

    </table>
{% endblock %}

{% block stylesheets %}
    <style>

        tr:hover .preview {
            display: block;
            width: 150px;
            position: absolute;
        }

        tr:nth-child(2n) {
            background-color: var(--color-light);
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        td.action-col {
            text-align: right;
        }
    </style>
{% endblock %}
{% block javascripts %}
    <script>

        function browseAndUpload() {
            fileUploader = document.getElementById("fileUploader")
            fileUploader.onchange = function () {
                var file = this.files[0];
                var request = new XMLHttpRequest();
                var data = new FormData();
                data.append('media', fileUploader.files[0]);
                data.append("path", "{{ path }}");
                request.upload.addEventListener('progress', function (e) {
                    var percent_complete = (e.loaded / e.total) * 100;
                    console.log(percent_complete)

                });
                request.addEventListener('load', function (e) {

                    if (request.status != 200) {
                        alert("something wrong happened");
                        return;
                    }
                    // request.response will hold the response from the server
                    fileUploader.value = null
                    var url = JSON.parse(request.response).filename;
                    console.log(url)
                    // IN CASE OF IFRAME TRIGGER PARENT
                    // https://davidwalsh.name/window-iframe
                    // https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage
                    window.location.reload()
                });
                request.open('post', '{{ path("media_store") }}');
                request.send(data);

            };
            fileUploader.click()
        }

        function deleteMedia(path) {
            if (window.confirm("are you sure you want to delete it?")) {
                makeHttpRequest(path, () => window.location.reload());

            }

        }

        function makeHttpRequest(path, callback) {
            let xhr = new XMLHttpRequest();
            xhr.open("GET", path);
            xhr.send();
            xhr.onload = function () {
                if (xhr.status < 300 && xhr.status > 199) {
                    callback();
                }
            };
        }
    </script>
{% endblock %}