{% macro rightMenu(item) %}
    {% import _self as macros %}

    <a href="#{{ item.id }}">
        {{ item.text }}
    </a>
    <ul>
        {% if item.children is defined %}
            {% for child in item.children %}
                <li style="border-left: 1px solid #C9C9C9;">
                    {{ macros.rightMenu(child) }}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endmacro %}
{% import _self as macros %}




{% extends 'base.html.twig' %}

{% block title %}
    {{ file.name }} - {{ file.webpath }}
{% endblock %}
{% block body %}
    <div class="title" id="document-title">
        <div class="hero">{{ file.title }}</div>
    </div>
    <div class="page-content">

        {{ file.content|raw }}
    </div>
{% endblock %}
{% block right %}
    <ul class="top-menu">

        <li>
            <a href="{{ url('knowledge_delete',{webpath: file.webpath}) }}"
               onclick="return confirm('Are you sure you want to delete this item?');"><i
                        class="fad fa-trash"></i> Delete</a>
        </li>
        <li>
            <a target="_blank" href="{{ url('knowledge_slides',{webpath: file.webpath}) }}"><i
                        class="fad fa-presentation"></i> Slides</a>
        </li>

        <li>
            <a href="{{ url('knowledge_edit',{webpath: file.webpath}) }}"><i class="fad fa-pen"></i> Edit</a>
        </li>
    </ul>
    <span class="title">
        {{ file.title }}
    </span>
    <ul>
        {% for item in file.tree %}
            <li>
                {{ macros.rightMenu(item) }}
            </li>

        {% endfor %}
    </ul>
{% endblock %}
