{% extends 'base.html.twig' %}

{% block title %}Kip - {{ filename }}{% endblock %}

{% block body %}
    {% if not edition %}
        <div class="container">
            <div class="left-opener">
                <a href="#" onclick="showLeft()"> <i class="fad fa-angle-double-right"></i></a><br/>
                <a href="{{ path('user_login') }}"> <i class="fad fa-user"></i></a><br/>

            </div>
            <div class="left-column">  {{ render(controller('App\\Controller\\System\\EmbeddedController::leftMenu',{"path":rawPath})) }}  </div>
            <div class="center-column">

                <div class="page-content" id="top">
                    <div class="breadcrumb" aria-label="breadcrumbs">
                        <ul>
                            {% set items = rawPath | split("/") %}
                            {% for item in items %}
                                {% set uri= items|slice(0, loop.index)|join("/") %}
                                {% if(uri==rawPath) %}
                                    <li class="is-active">

                                        <a>{{ item }}</a>
                                    </li>
                                {% else %}
                                    <li>
                                        <a href="{{ path( "knowledge_read",{path:  uri }) }}">{{ item }}</a>

                                    </li>
                                {% endif %}

                            {% endfor %}
                        </ul>
                    </div>
                    {% if content|length ==0 %}
                        <h1>404 - File Empty or not found!</h1>
                        <p>This file seems empty/inexistant, but don't worry and start <a
                                    href="{{ path("knowledge_read",{path:rawPath, _edit:true}) }}">
                                <span><i class="fad fa-edit"></i></span>
                                Edit it
                            </a>.
                        </p>
                    {% endif %}
                    {{ content|raw }}
                </div>


                <div class="aside-right">
                    <div>
                        <nav>
                            <a class="navbar-item" href="#top">
                        <span class="icon has-text-dark">
                        <i class="fad fa-arrow-up"></i>
                        </span>
                            </a>
                            <a href="{{ path("knowledge_read",{path:rawPath, _edit:true}) }}">
                                <andpan><i class="fad fa-edit"></i></andpan>
                            </a>
                            <a href="{{ path('documents_delete',{path:filename}) }}"
                               onclick="confirm('are you sure?')">
                                <span><i class="fas fa-trash"></i></span>
                            </a>
                        </nav>
                        <ul>
                            <li class="">
                                <p> Table of content </p>

                                {% include "knowledge/rightMenu.html.twig" %}
                            </li>
                        </ul>

                    </div>


                </div>
            </div>

        </div>
    {% else %}

        <div class="editor">
            <progress style="display:none;" id="progress-upload" class="progress is-success"
                      max="100"></progress>

            <textarea id="text-content">{{ raw }}</textarea>
            <form style="display: none;" method="post" action="{{ path('media_store') }}"
                  enctype="multipart/form-data">
                <input id="fileUploader" type="file" name="media"/>
                <button>send</button>
            </form>
        </div>

        <div id="fileBrowser" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <iframe src="{{ path("media_index",{ path:directory, action:"media" }) }}"></iframe>
            </div>

        </div>
    {% endif %}

{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block javascripts %}
    {% if not edition %}

        <script>
            function hideLeft() {
                $(".left-column").addClass("hidden");
                $(".left-opener").addClass("show");

            }

            function showLeft() {
                $(".left-column").removeClass("hidden");
                $(".left-opener").removeClass("show");

            }

            $(document).ready(function () {
                var currentHash = window.location.hash;
                $(".center-column").scroll(function () {

                    $('.title').each(function () {
                        var top = window.pageYOffset;
                        var distance = top - $(this).offset().top;
                        var hash = $(this).attr('id');

                        if (distance < 30 && distance > -30 && currentHash != hash) {
                            $('a').removeClass('active');

                            $('.aside-right a[href="#' + hash + '"]').addClass('active');
                            currentHash = hash;
                        }
                    });
                });
            });</script>
    {% else %}
        <script>
            var readLocation = "{{ path("knowledge_read",{ path:rawPath}) }}";
            var saveDocument="{{ path('documents_store',{path: filename}) }}";
            var rawPath = "{{ rawPath }}";
        </script>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script src="{{ asset('js/knowledge-editor.js') }}"></script>
    {% endif %}
{% endblock %}