{% macro rightMenu(item) %}
    {% import _self as macros %}

    <a href="#{{ item.id }}">
        <span><i class="fad fa-h{{ item.level }}"></i></span>
        {{ item.text }}
    </a>
    <ul>
        {% if item.children is defined %}
            {% for child in item.children %}
                <li>
                    {{ macros.rightMenu(child) }}
                </li>
            {% endfor %}
        {% endif %}
    </ul>
{% endmacro %}
{% import _self as macros %}




{% extends 'base.html.twig' %}

{% block title %}
    {{ file.name }} - {{ file.webpath }}
{% endblock %}
{% block body %}
    <div class="page-content">
        <div class="title">
            <h1 class="hero">{{ file.title }}</h1>
        </div>

        {{ file.content|raw }}
    </div>
{% endblock %}
{% block right %}
    <a href="{{ url('knowledge_edit',{webpath: file.webpath}) }}"><i class="fad fa-2x fa-pen"></i></a>
    <a target="_blank" href="{{ url('knowledge_slides',{webpath: file.webpath}) }}"><i
                class="fad fa-2x fa-presentation"></i></a>
    <a href="{{ url('knowledge_delete',{webpath: file.webpath}) }}"
       onclick="return confirm('Are you sure you want to delete this item?');"><i class="fad fa-2x fa-trash"></i></a>
    <br/>
    <span class="title">
        {{ file.title }}
    </span>
    <ul>
        {% for item in file.tree %}
            <li>
                {{ macros.rightMenu(item) }}
            </li>

        {% endfor %}
    </ul>
{% endblock %}
