{% macro menuItem(nav,par,dept) %}
    {% import _self as macros %}

    <a href="{{ path("knowledge_read",{"path":nav.path}) }}{% if nav.isFolder %}/{% endif %}">
        {% if nav.hasReadme %}
            <i class="fas fa-folder"></i>

        {% elseif nav.isFolder %}

            <i class="fad fa-folder"></i>
        {% else %}
            <i class="fas fa-file"></i>

        {% endif %}

        {{ nav.name }}
    </a>
    {% if nav.isFolder %}
        <ul class="uk-nav-sub">
            {% for sublink in nav.subLinks %}
                {% set at=par ~ loop.index0 %}
                <li class="uk-parent">
                    {{ macros.menuItem(sublink,at,dept+1) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
{% import _self as macros %}
<div uk-sticky style="height:100vh;overflow:auto;">
    {% if is_granted("ROLE_USER") %}


        <ul class="uk-nav">

            <li>
                <a href="#search-form-uikit" uk-toggle class="uk-button uk-button-default">Search</a>
            </li>
            <li>
                <a class="uk-button uk-button-default" href="{{ path('knowledge_read_home') }}"><i class="fad fa-home"></i> Home</a>
            </li>


            <li class="uk-parent">
                <div class="">
                    <ul class="uk-nav-sub">
                        {% for item in nav.subLinks %}
                            {% set dept=0 %}
                            {% set at=loop.index0 %}
                            <li class="uk-parent">
                                {{ macros.menuItem(item,at,dept) }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>

        </ul>
    {% endif %}

</div>
