<nav class="navbar is-fixed-top is-dark" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ path('knowledge_read_home') }}">
            <img src="{{ asset('campfire-duotone.svg') }}" width="32">
            Kip
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
           data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>


    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
{% block doctitle %}{% endblock %}
        </div>
        <div class="navbar-end">
            {% if is_granted("ROLE_USER") or not security_enabled %}
                <form class="navbar-item" method="get" action="{{ path("search_action") }}">
                    <input class="input" type="text" placeholder="Search" name="q">
                    <button type="submit" class="button is-link"><i class="fal fa-search"></i></button>
                </form>
            {% endif %}
            {% if security_enabled %}

                <div class="navbar-item">

                    <div class="buttons">
                        {% if is_granted("ROLE_USER") %}
                            <a class="button is-light" href="{{ path("user_logout") }}">Logout</a>
                        {% else %}
                            {% if registration_enabled %}
                                <a class="button is-primary" href="{{ path('userapp_register') }}">
                                    <strong>Sign up</strong>
                                </a>
                            {% endif %}

                            <a class="button is-light" href="{{ path("user_login") }}">Log in</a>
                        {% endif %}
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
</nav>
<script>
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach( el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }

    });
</script>